<h1>Topics#new</h1>
<%= form_for([@category, @topic, @post]) do |f| %>
    <div class="field">
      <%= f.label :content %><br />
      <%= f.text_field :content %>
    </div>
    <div class="actions">
      <%= f.submit "Post" %>
    </div>
<% end %>