<div id="center_it">
  <h1>Répondre</h1>
  <%= semantic_form_for([@category, @topic, @post]) do |f| %>

      <% f.inputs do %>
          <%= f.input :content, :label => "Réponse" %>
      <% end %>

      <% f.buttons do %>
          <%= f.commit_button %>
      <% end %>

  <% end %>
</div>