<h1>Categories#edit</h1>
<%= form_for(@category) do |f| %>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="actions">
      <%= f.submit "modifier" %>
    </div>
<% end %>