<p>Bonjour <%= @resource.email %>!</p>

<p>Vous avez fait une demande de mot de passe oublié sur Safe-Driving Community.</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si vous n'avez pas formulé cette demande, veuillez ignorer cet email.</p>
<p>Cordialement, <br /> L'équipe SafeDriving</p>
