<h1>Auto</h1>
<img src="http://images.caradisiac.com/logos/3/5/5/2/153552/S7-Insolite-une-auto-ecole-marseillaise-vendait-des-permis-de-conduire-pour-arrondir-ses-fins-de-mois-66586.jpg" alt="" style="float:left; width:200px; margin:5px;" /><p>Le passage d'un <strong>permis de conduire</strong> est soumis à une visite médicale approfondie et doit faire l'objet d'un avis de la commission médicale de la préfecture du département où l'intéressé dépose sa demande. En cas d'avis favorable, le candidat doit bien sûr rechercher une auto-école disposant d'un véhicule à boîte et embrayage automatiques puis l'on procède à un essai pratique de l'aménagement (prescrit par la commission médicale...) afin de contrôler la maîtrise du véhicule et des équipements par le candidat ainsi que son émotivité, ce test n'est en aucun cas éliminatoire. S'ensuivent l'apprentissage et les examens prévus pour la catégorie de permis demandée.<p>

<p>Les dates de péremption des visites médicales (le cas échéant...) et la liste des aménagements à réaliser sur le véhicule (en tant que mentions restrictives de validité du titre...) sont portées sur le permis de conduire.</p>

<p>En cas de constatation d'un défaut de la vue, l'enseignant de la conduite peut conseiller à l'élève de passer une visite médicale mais il ne peut l'obliger. La seule personne pouvant l'exiger est l'inspecteur du permis de conduire.</p>

