<table width="100%" border="0" cellspacing="10" cellpadding="0" bgcolor="#efefef">
  <tbody>
  <tr>
    <td align="center" style="font-family: Arial, Verdana;">
      <table width="590" border="0" cellspacing="16" cellpadding="0" bgcolor="#ffffff" style="border:solid 1px #dddddd">
        <tbody>
        <tr>
          <td width="490">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
              <tbody>
              <tr>
                <td style="font-family:Arial,Verdana;">
                  <p style="font-size:18px;color:#333;margin:0;padding:0">
                    SafeDriving - Community
                  </p>
                  <!--<p style="font-size:13px;color:#333;margin:0;padding:0">-->
                    <!--    -->
                  <!--</p>-->
                </td>
              </tr>
              </tbody>
            </table>
          </td>

          <td align="right" valign="top" width="98" style="text-align: right;">
            <a href="" style="display:block;font-family:Arial,Verdana;width:100%;min-height:100%;font-size:20px;font-weight:normal;text-decoration:none;color:#999;" target="_blank">
              SafeDriving
            </a>
          </td>
        </tr>

        <tr>
          <td colspan="2" style="font-family: Arial, Verdana;">
            <%= yield %>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>

  <tr>
    <td align="center" style="color:#333">
      <table width="590" cellspacing="0" cellpadding="0" border="0" bgcolor="#efefef">
        <tbody>
        <tr>
          <td style="font-family: Arial, Verdana;font-size:12px;text-align: right;">
            © SafeDriving
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>

  </tbody>
</table>


